@import "tailwindcss";

@theme {
  --color-navy: #0A192F;
  --color-emerald: #10B981;
  --color-slate: #515f78;
  --color-bg-light: #fbf9fb;
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
}
